@import "~bulma/sass/utilities/variables";

.catalogue-item {
    font-size: inherit;
}

.catalogue-item__status {
    &.ok {
        color: $green;
    }

    &.warning {
        color: $orange;
    }
}
