.catalogue-item {

}

.catalogue-item-styles {
    max-width: 22ex;
}

.catalogue-item-similar {
    max-width: 20ex;
}

.catalogue-item-aroma {
    max-width: 20ex;
}

.catalogue-item-notes {
    max-width: 600px;
}
