@import "~bulma/sass/utilities/variables";

.catalogue-item {
    font-size: inherit;
}

.catalogue-item__status {
    &.ok {
        color: $success;
    }

    &.warning {
        color: $warning;
    }

    &.danger {
        color: $danger;
    }
}
