/* Utils
---------------------------------------------------------------------------------- */

.u-t-nowrap {
    white-space: nowrap;
}

.u-lh-reset {
    line-height: 1;
}

.u-cur-pointer {
    cursor: pointer;
}

.u-cur-default {
    cursor: default;
}

.u-t-pseudo {
    border-bottom: 1px dashed;
}

.u-no-underline {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

/* /Utils
---------------------------------------------------------------------------------- */
