/* Core
-------------------------------------------------- */

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;

    height: 100%;

    line-height: 1.5;
}

main.is-fit-screen {
    display: flex;

    flex: 1 1 100%;
    flex-flow: column;

    & > section {
        display: flex;

        flex-flow: column;
    }
}

/* /Core
-------------------------------------------------- */


/* Overrides
-------------------------------------------------- */

.section {
    padding: 1rem .75rem;
    background: inherit;
}

/* /Overrides
-------------------------------------------------- */


/* Layout
-------------------------------------------------- */

.is-auto-overflow-vertical {
    max-height: 100%;
    overflow-y: auto;
}

/* /Layout
-------------------------------------------------- */


.table-row {

}

.table-cell {
    &.has-text-centered {
        text-align: center;
    }

    &.--w-min {
        width: .5rem;
    }

    &.--w-max {

    }

    &.--w-10 {
        width: 10%;
    }
}
