html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;

    height: 100%;

    line-height: 1.5;
}

.section {
    padding: 1rem .75rem;
    background: inherit;
}

.table-row {

}

.table-cell {
    &.has-text-centered {
        text-align: center;
    }

    &.--w-min {
        width: .5rem;
    }

    &.--w-max {

    }

    &.--w-10 {
        width: 10%;
    }
}
